<!doctype html>
<html>
	<head>
		<title> Search Page </title>
		
		<!-- Stylesheet -->
		<link rel="stylesheet" href="searchStyle.css">
		
		<!-- Vue Script -->
		<script type="application/javascript" src="https://cdn.jsdelivr.net/npm/vue"></script>
		<!-- Our custom Script -->
		<script type="text/javascript" src="searchJava.js"></script>
		<!-- jQuery Script -->
		<script type="application/javascript" src="https://code.jquery.com/jquery-3.3.1.min.js"></script>

		<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
		<link rel="stylesheet" href="navbar.css">
	<!--JavaScript for Bootstrap-->
  	<!--Popper.js-->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
		<!--booststrap.js-->
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>


		
	</head>

	<body onload= 'init()'>

		<nav class="navbar">
				<a class="navbar-brand" href="https://www.stthomas.edu/">St. Thomas</a>

		</nav>


		<div id="app">
			<h1>This is the search page</h1>
			
			<!-- Course checkboxes -->
			<div id="subjects">
				<table id="list" style= "list-style: none">
					<tr class="dontsplit" v-for="item in departments">
						<td><input   v-bind:id= 'item.subject' class= 'subSelect' type = 'checkbox' v-bind:value= 'item.subject' /><label>{{item.subject}}: {{item.full_name}}</label></td>
					</tr>
				</table>	
			</div>
			
			<!--Course Number and CRN search boxes-->
			<div id='searchBoxes'>
			
			<input id="courseSearch" type="text" v-model="courseNumberSearch" placeholder= "Search by course number"> </input>
			<input id="crnSearch" type="text" v-model="crnNumberSearch" placeholder= "Search by CRN"> </input>
			
			</div>
		
			
			
			<!--Search Button used for filling table-->
			<button type="button" onclick="checkStatus()">Search</button>
			
		<!-- Table running with Vue to automatically fill in table information based on the subjects selected by the user -->
			<div id="results">
				<!--<table id="realTable" style="border-width: 1px; border-color: black; border: solid;">
						<tr>
							<th> Subject </th>
							<th> Course Number </th>
							<th> Section </th>
							<th> Name </th>
							<th> Building / Room </th>
							<th> Professor </th>
							<th> Credits </th>
							<th> CRN </th>
							<th> Amount Registered / Capacity </th>
							<th> Waitlist </th>
						</tr>
				</table>-->
				<table v-for="item in searchResults" style="border-width: 1px; border-color: black; border: solid; margin: 10px;">
					<!--<tr style="display: 'none';">
							<th style="display: 'none';"> Subject </th>
							<th style="display: 'none';"> Course Number </th>
							<th style="display: 'none';"> Section </th>
							<th style="display: 'none';"> Name </th>
							<th style="display: 'none';"> Building / Room </th>
							<th style="display: 'none';"> Professor </th>
							<th style="display: 'none';"> Credits </th>
							<th style="display: 'none';"> CRN </th>
							<th style="display: 'none';"> Amount Registered / Capacity </th>
							<th style="display: 'none';"> Waitlist </th>
						</tr>-->
					<tr  v-on:click="reveal(item.CRN,item.times)" onMouseOver="this.style.cursor='pointer'">
						<td class="tableData" style="width:75px;">
							<center> {{item.subject}} </center>
						</td>
						<td class="tableData" style="width: 75px;">
							<center>{{item.course_number}}-{{item.section_number}}</center>
						</td>
						<td class="tableData">
							<center>{{item.course_name}}</center>
						</td>
						<td class="tableData" style="width: 150px;">
							<center>{{item.building}}</center> <center>{{item.room}}</center> 
						</td>
						
						<td class="tableData">
							<center> {{item.professors}} </center>
						</td>
						<td class="tableData">
							<center>{{item.credits}}</center>
						</td>
						<td class="tableData">
							<center>{{item.CRN}}</center>
						</td>
						<td class="tableData">
							<center>{{item.registered}}/{{item.capacity}}</center> 
						</td>
						<td class="tableData">
							<center>{{item.waitlist}}</center>
						</td>
						<!--insert table with course data-->
					</tr>
					<tr v-bind:id="item.CRN" class="hideInfo" style="display: none;">
						<td style="width: 300px;">
							{{item.description}}
						</td>
							<td v-bind:id="item.CRN+'time'">
						</td>
						
						<!-- Register / View Roster buttons depending on position of the user -->
						<td> <span v-if="position === 'student'">  <button type="button" v-on:click="register(item.CRN)">Register</button> </span> </td>
						<td> <span v-if="position === 'faculty'"> <button type="button" v-on:click="viewRoster(item.CRN)">View Roster</button> </span> </td>
						<!--Displays the the roster of the CRN for a faculty when requested-->
						<td v-for="stuff in viewRosterResults"> <span v-if="viewRosterResults.length > 0 && item.CRN == viewRegCRN"> {{stuff.university_id}} - {{stuff.first_name}} {{stuff.last_name}} </span> </td>
						
					</tr>
				</table>	
					
			</div>
		</div>	
	</body>


</html>